.card-container {
  display: grid;
  grid-template: 42vh 42vh/ 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 1rem;
  outline: 1px solid black;
}

/* gradient background */
.card-container > div {
  outline: 1px solid black;
}

.card > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 88%;
  object-fit: cover;
}
